<template>
    <div>
        <router-link to="/game/ingles">Opción 1 </router-link>
        <router-link to="/game/sociales">Opción 2 </router-link>
        <router-link to="/game/naturales">Opción 3 </router-link>
    </div>
</template>
<script>
export default {
    
}
</script>